.underline {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.2; }

.shadow-line {
  background: #429e31;
  border-left: 295px #368a2c;
  height: 3px;
  box-shadow: inset 120px 0px 100px -50px #c9ddc8, inset -120px 0px 100px -50px #a3c6a1;
  position: relative; }

.shadow-line:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 128, 0, 0);
  border-left-color: #a3c6a1;
  border-width: 1.5px;
  margin-top: -1.5px; }

.shadow-line:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 128, 0, 0);
  border-right-color: #c9ddc8;
  border-width: 1.5px;
  margin-top: -1.5px; }

@media (min-width: 320px) and (max-width: 768px) {
  .shadow-line {
    width: 300px !important; }
  .page-toolbar {
    display: none; } }

.badge-type-wrap {
  text-align: center;
  position: relative;
  top: -8px;
  margin-bottom: 15px; }

.badge-type {
  font-family: UTM;
  font-size: 19px;
  display: inline-block;
  background-color: #388e2d;
  height: 40px;
  width: 195px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 4px; }

.view-more {
  display: inline-block;
  bottom: 0;
  right: 0;
  position: absolute; }

.news-field {
  margin-bottom: 115px; }

.center {
  margin: 0 auto;
  text-align: center; }

.left {
  float: left;
  padding: 10px;
  text-align: left; }

.flex {
  display: flex; }
.flex .flex-item {
  flex-grow: 1;
  display: inline-block; }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffffff;
  display: inline-block;
  margin-right: 10px; }

.btn-green {
  background-color: #429e31;
  color: #fff; }

.product-name, .product-price {
  font-size: 16px; }

.product-price {
  color: #80c41c; }

.clear {
  clear: both; }

.strong-text {
  font-family: UTMBOLD;
  font-size: 10pt;
  font-weight: 600; }

.toggable-tab {
  margin-top: 60px;
  width: 70%; }
.toggable-tab #mytabs {
  width: 60%;
  position: relative;
  height: 50px;
  border-radius: 10px; }
.toggable-tab .nav-tabs {
  border-bottom: none; }
.toggable-tab li {
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #44a032;
  overflow: hidden !important;
  height: 100%; }
.toggable-tab li a {
  width: 100%;
  height: 100%; }
.toggable-tab .nav-tabs > li.active > a {
  background-color: #44a032;
  color: #fff;
  border: none; }
.toggable-tab .nav-tabs > li.active {
  background-color: #44a032; }
.toggable-tab a {
  font-family: UTMBOLD;
  color: #333333;
  font-size: 12pt; }

.item-field {
  margin-top: 50px; }

.info-field {
  text-align: left;
  padding: 20px; }
.info-field .agency-title {
  font-size: 12pt;
  font-family: UTMBOLD;
  font-weight: 600;
  line-height: 50px; }

.flex-item {
  display: flex; }
