html body {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    font-family: UTMFONT !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 50vw;
    min-height: 400px;
    max-height: 550px;
    min-width: 300px;
    color: #eee;
}

.header:after {
    content: "";
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    background: url("/assets/image/banner1.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: grow 60s linear 10ms infinite;
    transition: all 0.2s ease-in-out;
    z-index: -2
}

.header a {
    color: #eee
}

.menu {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none
}

.menu:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    box-shadow: 0 8px, 0 16px
}

.logo {
    border: 2px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1.2em;
    box-sizing: border-box
}

.sides, .info {
    flex: 0 0 auto;
    width: 60%;
    padding: 10px;
    display: flex;
}

.sides > a {
    color: black;
    vertical-align: middle;
    display: inline-flex;
    flex-grow: 1;
    padding: 17px 17px;
    text-decoration: none;

}

.sides > a:hover {
    color: #388e2d
}


.info {
    width: 100%;
    padding: 15% 10% 0 10%;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.author {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("/assets/image/banner1.png") center no-repeat;
    background-size: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px
}

.info h4, .meta {
    font-size: 0.7em
}

.meta {
    font-style: italic;
}

@keyframes grow {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

.content {
    padding: 5% 10%;
    text-align: justify
}

.btn {
    color: #333;
    border: 2px solid;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600
}

.twtr {
    margin-top: 100px
}

.btn.twtr:after {
    content: "\1F426";
    padding-left: 5px
}

/*.backgroundGreen {*/
/*background-color: red !important;*/
/*}*/

a, span, div {
    font-family: UTMFONT !important;
}

.page-container-wrapper {
    min-height: 100% !important;
    position: relative;
}

.page-header {
    width: 100%;
    margin: 0;
    height: 99px;
    min-height: 99px;
    top: 0;
    z-index: 999999;
    position: fixed;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    -o-transition: 2s ease-out;
    transition: 2s ease-out;
    background-color: #5fa851;
}

.page-header .page-header-inner {
    text-align: center;
}

.page-header .page-header-inner .navbar {
    align-items: center;
    display: inline-block;
}

.page-header .page-header-inner .navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
}

.page-header .page-header-inner .navbar .navbar-nav li {
    display: inline-flex;
    vertical-align: middle;
}

.page-header .page-header-inner .navbar .navbar-nav li:hover {
    background-color: initial !important;
}

.page-header .page-header-inner .navbar a {
    color: #ffffff;
    line-height: 35px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.page-container {
    margin-top: 45px;
    padding-bottom: 400px;
}

.page-container .page-content-wrapper {
    margin-bottom: 34px;
    font-family: UTM;
    font-size: 13px;
}

.page-container .page-content-wrapper .page-logo img {
    display: block;
    margin: 0 auto;
}

.page-container .page-content-wrapper .page-intro {
    margin-top: 55px;
    width: 700px;
}

.page-container .page-content-wrapper .page-intro .list-intro {
    padding: 0;
    display: flex;
    list-style-type: none;
}

.page-container .page-content-wrapper .page-intro .list-intro li {
    flex-grow: 1;
    display: inline-block;
    flex-basis: 0;
}

.page-container .page-content-wrapper .page-intro .list-intro li a {
    text-decoration: none;
    color: #333333;
    font-size: 12pt;
}

.page-container .page-content-wrapper .page-banner {
    width: 100%;
    height: 487px;
    background-image: url(../../image/banner.png);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.page-container .page-content-wrapper .page-toolbar {
    padding: 15px 30px 15px 20px;
    background-color: #429e31;
    position: fixed;
    z-index: 999999;
    height: 100px;
    width: 340px;
    border-radius: 0 100px 100px 0;
    bottom: 250px;
}

.page-container .page-content-wrapper .page-toolbar .toolbar-hotline .hotline-contact {
    color: #ffffff;
}

.page-container .page-content-wrapper .page-toolbar .toolbar-hotline .hotline-contact .hotline-text {
    margin-left: 20px;
    font-size: 20px;
}

.page-container .page-content-wrapper .page-toolbar .toolbar-hotline .hotline-contact .hotline-phone {
    font-size: 20px;
    font-weight: 500;
}

.page-container .page-content-wrapper .page-toolbar .toolbar-social {
    float: right;
}

/*@media (min-width: 320px) and (max-width: 768px) {*/
/*a {*/
/*font-family: UTMBOLD;*/
/*color: #333333;*/
/*font-size: 6pt !important;*/
/*}*/

/*.page-intro {*/
/*width: 100% !important;*/
/*}*/

/*.page-footer {*/
/*padding: 40px 0 40px 0 !important;*/
/*}*/

/*.item-wrapper {*/
/*width: 100% !important;*/
/*}*/
/*}*/

/*@media (min-width: 768px) and (max-width: 1268px) {*/
/*a {*/
/*font-family: UTMBOLD;*/
/*color: #333333;*/
/*font-size: 8pt !important;*/
/*}*/
/*}*/

.field-badge {
    margin-top: 45px;
    width: 100%;
    text-align: center;
}

.field-badge-inline {
    width: 100%;
    display: inline-block;
}

.item-wrapper {
    width: 60%;
}

.page-footer {
    padding-top: 90px;
    background-color: #e5e5e5;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    min-height: 300px;
    position: absolute;
}

.page-footer .page-footer-inner .footer-info {
    margin-top: 25px;
}

.page-footer .page-footer-inner .footer-info .company-name {
    color: #878787;
}

.page-footer .company-contact {
    margin: 0;
    font-size: 11pt;
    color: #6e6e6e;
}
