
<div class="page-footer">
    <div class="page-footer-inner center">
        <div class="footer-logo">
            <img src="/assets/image/logo_footer.png" alt="">
        </div>
        <div class="footer-info">
            <div class="company-name"><b>CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU NHẬT MINH</b></div>
            <div class="company-address" style="color: #6e6e6e">Phòng giao dịch:Số 02/68 - Trần Thái Tông - Cầu Giấy -
                Hà Nội
            </div>
            <div class="company-contact row">
                <div class="col-md-3 col-xs-12">
                    Phone: 043.782.3498; 043.212.3668
                </div>
                <div class="col-md-3 col-xs-12">
                    Mobile: 0947.769.899
                </div>
                <div class="col-md-3 col-xs-12">
                    Email: phihong5000@gmail.com
                </div>
                <div class="col-md-3 col-xs-12">
                    Skype: phihong5000
                </div>

            </div>
        </div>
    </div>
</div>
