<div class="page-header">
    <div class="page-header-inner">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-inner collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="page-logo">
                        <img src="../assets/image/logo.png" alt="">
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/description">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promotions">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="header">
    <div class="sides">
        <img src="/assets/image/logo.png" alt="">
        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/description">GIỚI THIỆU</a>
        <a class="nav-link" href="/products">SẢN PHẨM</a>
        <a class="nav-link" href="/news">TIN TỨC</a>
        <a class="nav-link" href="/promotions">KHUYẾN MÃI</a>
        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
    </div>
</div>
