<!DOCTYPE html>
<!--
Salefie App
Version: 1.0.0
Author: GMO-Z.com RUNSYSTEM
Website: http://www.salefie.vn/
Contact: support@runsystem.net
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="SaleFieApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
  <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
  </style>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="Sale app, sales field app, bán hàng, nhân viên bán hàng" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/font-salefie/css/font-salefie.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css">

  <link href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css">

  <!-- FullCalendar -->
  <link href="/assets/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/fullcalendar/css/fullcalendar.print.min.css" rel="stylesheet" type="text/css" media='print' />

  <!-- END GLOBAL MANDATORY STYLES -->
  <!-- BEGIN PAGE LEVEL PLUGINS -->

  <!-- END PAGE LEVEL PLUGINS -->
  <!-- BEGIN THEME GLOBAL STYLES -->
  <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
  <link href="../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
  <!-- END THEME GLOBAL STYLES -->
  <!-- BEGIN THEME LAYOUT STYLES -->
  <link href="../assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css" />
  <link href="../assets/layouts/layout/css/themes/grey.css" rel="stylesheet" type="text/css" id="style_color" />
  <link href="../assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/custom.css" rel="stylesheet" type="text/css">
  <link href="/assets/global/css/toastr.min.css" rel="stylesheet" type="text/css" />
    <!-- ... -->
  <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <!-- END THEME LAYOUT STYLES -->

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-fixed page-sidebar-closed">
  <!-- BEGIN HEADER -->
  {{>header}}
  <!-- END HEADER -->
  <div class="clearfix"> </div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    {{{body}}}
    <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <!-- END FOOTER -->
  <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <script src="/assets/global/plugins/excanvas.min.js"></script>
    <script src="/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
  <!-- BEGIN CORE PLUGINS -->
  <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
  <script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
  <script src="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
  <script src="/assets/layouts/layout/scripts/layout.js"></script>

  <!-- FullCalendar -->
  <script src="/assets/moment/moment.min.js" type="text/javascript"></script>
  <script src="/assets/fullcalendar/scripts/fullcalendar.min.js" type="text/javascript"></script>
  <!-- END CORE PLUGINS -->


</body>

</html>
