<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Sevilla bếp gia dụng" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
        @font-face {
            font-family: UTMBOLD;
            src: url(../assets/font/UTM_HelveBold_0.ttf);
        }

        @font-face {
            font-family: UTMFONT;
            src: url(../assets/font/UTM_Helve_0.ttf);
        }

        body {
            font-family: UTMFONT !important;
        }

    </style>
    <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layouts/layout.css">
    <link rel="stylesheet" href="../assets/css/layouts/component-rounded.css">
    <link rel="stylesheet" href="../assets/css/page/news.css">

</head>

<body>
<div class="page-container-wrapper">
    {{>header}}

    {{{body}}}

    {{>footer}}


</div>
<script type="text/javascript" src="../assets/global/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/layout.js"></script>
</body>

</html>