<!DOCTYPE html>
<html ng-app="sevillaApp" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta content="Sevilla bếp gia dụng" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
        @font-face {
            font-family: UTMBOLD;
            src: url(../assets/font/UTM_HelveBold_0.ttf);
        }

        @font-face {
            font-family: UTMFONT;
            src: url(../assets/font/UTM_Helve_0.ttf);
        }

        body {
            font-family: UTMFONT !important;
        }

        .active {
            color: wheat !important;
        }


    </style>
    <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layouts/layout.css">
    <link rel="stylesheet" href="../assets/css/layouts/component-rounded.css">
    <link rel="stylesheet" href="../assets/css/page/products.css">

</head>

<body ng-controller="productsController" ng-init="productsAll={{products}}; init()">
<div class="page-container-wrapper">
    {{>header}}
    {{{body}}}
    {{>footer}}

</div>


<script type="text/javascript" src="../assets/global/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/layout.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/products.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script src="../angular-utils-pagination/dirPagination.js"></script>
<script src="../angularjs/app.module.js"></script>
<script src="../angularjs/products/products.controller.js"></script>
</body>

</html>