.list-desciprtion {
	margin-bottom: 70px;
	.text-box{
		padding-left: 70px;
		h3,p {
			float: left;
			font-family: UTM;
			text-align: left;
		}
		h3 {
			font-weight: bold;
			font-size: 16pt;
			margin-bottom: 40px;
		}
		p {
			font-size: 11pt;
		}

	}
}
.certificate-field {
	margin: 200px 0 200px 0;
}