<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Sevilla bếp gia dụng" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
        @font-face {
            font-family: UTMBOLD;
            src: url(../assets/font/UTM_HelveBold_0.ttf);
        }

        @font-face {
            font-family: UTMFONT;
            src: url(../assets/font/UTM_Helve_0.ttf);
        }

        body {
            font-family: UTMFONT !important;
        }

    </style>
    <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layouts/layout.css">
    <link rel="stylesheet" href="../assets/css/layouts/component-rounded.css">
    <link rel="stylesheet" href="../assets/css/page/news.css">

</head>

<body>
<div class="page-container-wrapper">
    <div class="page-header">
        <div class="page-header-inner">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navbar-inner collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="page-logo">
                            <img src="../assets/image/logo.png" alt="">
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/description">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">KHUYẾN MÃI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-logo">
                <img src="../assets/image/logo.png" alt="">
            </div>
            <div class="page-intro center">
                <ul class="list-intro">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/description">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <div id="banner" class="page-banner container-fluid">
            </div>
            <div class="toggable-tab center">
                <ul class="nav nav-tabs center" id="mytabs">
                    <li class="news-tab tab-field active ">
                        <a href="#news-tab" data-toggle="tab">TIN TỨC</a>
                    </li>
                    <li class="video-tab tab-field">
                        <a href="#video-tab" data-toggle="tab">VIDEO NỔI BẬT</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="row tab-pane fade in active" role="tabpanel" id="news-tab">
                        <div class="row item-field">
                            <div class="col-md-6">
                                <div class="row item-field">
                                    <div class="col-md-6 image-field">
                                        <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                                    </div>
                                    <div class="col-md-6 info-field">
                                        <div class="agency-title">
                                            ĐẠI LÝ QUỐC ĐẠT
                                        </div>
                                        <div class="agency-content">
                                            <div class="agency-address">
                                                Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                            </div>
                                            <div class="agency-phone">
                                                0834.122.419
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item-field">
                                    <div class="col-md-6 image-field">
                                        <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                                    </div>
                                    <div class="col-md-6 info-field">
                                        <div class="agency-title">
                                            ĐẠI LÝ QUỐC ĐẠT
                                        </div>
                                        <div class="agency-content">
                                            <div class="agency-address">
                                                Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                            </div>
                                            <div class="agency-phone">
                                                0834.122.419
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item-field">
                                    <div class="col-md-6 image-field">
                                        <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                                    </div>
                                    <div class="col-md-6 info-field">
                                        <div class="agency-title">
                                            ĐẠI LÝ QUỐC ĐẠT
                                        </div>
                                        <div class="agency-content">
                                            <div class="agency-address">
                                                Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                            </div>
                                            <div class="agency-phone">
                                                0834.122.419
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item-field">
                                    <div class="col-md-6 image-field">
                                        <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                                    </div>
                                    <div class="col-md-6 info-field">
                                        <div class="agency-title">
                                            ĐẠI LÝ QUỐC ĐẠT
                                        </div>
                                        <div class="agency-content">
                                            <div class="agency-address">
                                                Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                            </div>
                                            <div class="agency-phone">
                                                0834.122.419
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="ads-field">
                                    <div class="row item-field">
                                        <div class="col-md-12 image-field">
                                            <div class="ads-field">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row tab-pane fade" role="tabpanel" id="video-tab">
                        <div class="row item-field">
                            <div class="col-md-6">
                                <div class="row item-field">
                                    <div class="col-md-12 image-field">
                                        <video width="320" height="240" controls>
                                            <source src="movie.mp4" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="video-title">
                                            Sản phẩm bếp 3 từ:  - 317 IH
                                        </div>
                                    </div>
                                </div>
                                <div class="row item-field">
                                    <div class="col-md-12 image-field">
                                        <video width="320" height="240" controls>
                                            <source src="movie.mp4" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="video-title">
                                            Sản phẩm bếp 3 từ:  - 317 IH
                                        </div>
                                    </div>
                                </div>
                                <div class="row item-field">
                                    <div class="col-md-12 image-field">
                                        <video width="320" height="240" controls>
                                            <source src="movie.mp4" type="video/mp4">
                                            <source src="movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="video-title">
                                            Sản phẩm bếp 3 từ:  - 317 IH
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="ads-field">
                                    <div class="row item-field">
                                        <div class="col-md-12 image-field">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-toolbar">
                <div class="toolbar-hotline">
                        <span class="hotline-icon">
                    <img src="../assets/image/hotline.png" width="35px" height="35px" alt="">
                </span>
                    <span class="hotline-contact">
                    <span class="hotline-text">
                        HOTLINE
                    </span>
                        <span class="hotline-phone underline">
                        090 000 9999
                    </span>
                        </span>
                </div>
                <div class="toolbar-social">
                    <img src="../assets/image/zalo.png" alt="">
                </div>
                <div class="toolbar-social">
                    <img src="../assets/image/skype.png" alt="">
                </div>
                <div class="toolbar-social">
                    <img src="../assets/image/facebook.png" width="44px" height="44px" alt="">
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="page-footer-inner center">
                <div class="footer-logo">
                    <img src="../assets/image/logo_footer.png" alt="">
                </div>
                <div class="footer-info">
                    <div class="company-name"><b>CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU NHẬT MINH</b></div>
                    <div class="company-address" style="color: #6e6e6e">Phòng giao dịch:Số 02/68 - Trần Thái Tông - Cầu Giấy -
                        Hà Nội
                    </div>
                    <div class="company-contact row">
                        <div class="col-md-3 col-xs-12">
                            Phone: 043.782.3498; 043.212.3668
                        </div>
                        <div class="col-md-3 col-xs-12">
                            Mobile: 0947.769.899
                        </div>
                        <div class="col-md-3 col-xs-12">
                            Email: phihong5000@gmail.com
                        </div>
                        <div class="col-md-3 col-xs-12">
                            Skype: phihong5000
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../assets/global/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/layout.js"></script>
</body>

</html>