<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Sevilla bếp gia dụng" name="description"/>
    <meta content="" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
        @font-face {
            font-family: UTMBOLD;
            src: url(../assets/font/UTM_HelveBold_0.ttf);
        }

        @font-face {
            font-family: UTMFONT;
            src: url(../assets/font/UTM_Helve_0.ttf);
        }

    </style>
    <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layouts/layout.css">
    <link rel="stylesheet" href="../assets/css/layouts/component-rounded.css">
    <link rel="stylesheet" href="../assets/css/page/products.css">

</head>

<body>
<div class="page-container-wrapper">
    <div class="page-header">
        <div class="page-header-inner">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navbar-inner collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="page-logo">
                            <img src="../assets/image/logo.png" alt="">
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/description">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">KHUYẾN MÃI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-logo">
                <img src="../assets/image/logo.png" alt="">
            </div>
            <div class="page-intro center">
                <ul class="list-intro">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/description">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <div id="banner" class="page-banner container-fluid">
            </div>
            <div class="page-products-wrapper center row">
                <div class="col-md-4 col-xs-12 categories-menu-wrapper">
                    <ul class="categories-menu">
                        <li class="list-item">
                            <div class="triangle-right"></div>
                            BẾP ĐIỆN TỬ
                        </li>
                        <li class="list-item">
                            <div class="triangle-right"></div>
                            MÁY HÚT MÙI
                        </li>
                        <li class="list-item">
                            <div class="triangle-right"></div>
                            LÒ NƯỚNG
                        </li>
                        <li class="list-item">
                            <div class="triangle-right"></div>
                            MÁY SẤY BÁT
                        </li>
                        <li class="list-item">
                            <div class="triangle-right"></div>
                            VÒI CHẬU
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-xs-12 products-field-wrapper">
                    <div class="col-md-12 title-type-products">
                        <div class="col-md-4 col-xs-12 title-badge">
                            <span class="underline">SẢN PHẨM MỚI</span>
                        </div>
                        <div class="col-md-4 col-xs-12 title-badge">
                            SẢN PHẨM NỔI BẬT
                        </div>
                        <div class="col-md-4 col-xs-12 title-badge">
                            SẢN PHẨM BÁN CHẠY
                        </div>
                    </div>
                    <div class="col-md-12 products-field">
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=1" class="thumbnail">
                                <img src="../assets/image/pic-01.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 90S
                            </b> </br>
                            <b class="product-price">
                                19.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=2" class="thumbnail">
                                <img src="../assets/image/pic-02.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 88S
                            </b> </br>
                            <b class="product-price">
                                16.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=3" class="thumbnail">
                                <img src="../assets/image/pic-03.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 80S
                            </b> </br>
                            <b class="product-price">
                                13.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=4" class="thumbnail">
                                <img src="../assets/image/pic-04.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 75S
                            </b> </br>
                            <b class="product-price">
                                11.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=5" class="thumbnail">
                                <img src="../assets/image/pic-05.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 70D
                            </b> </br>
                            <b class="product-price">
                                10.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=6" class="thumbnail">
                                <img src="../assets/image/pic-06.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 70S
                            </b> </br>
                            <b class="product-price">
                                10.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=7" class="thumbnail">
                                <img src="../assets/image/pic-07.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 60S
                            </b> </br>
                            <b class="product-price">
                                9.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=8" class="thumbnail">
                                <img src="../assets/image/pic-08.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - T 60D
                            </b> </br>
                            <b class="product-price">
                                9.990.000 d
                            </b>
                        </div>
                        <div class="col-md-4 col-xs-12 product-detail">
                            <a href="/product?id=9" class="thumbnail">
                                <img src="../assets/image/pic-09.jpg" alt="...">
                            </a>
                            <b class="product-name">
                                Bếp điện tử cao cấp SEVILLA </br>
                                SV - M 500T
                            </b> </br>
                            <b class="product-price">
                                19.990.000 d
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-toolbar">
                <div class="toolbar-hotline">
                        <span class="hotline-icon">
                    <img src="../assets/image/hotline.png" width="35px" height="35px" alt="">
                </span>
                    <span class="hotline-contact">
                    <span class="hotline-text">
                        HOTLINE
                    </span>
                        <span class="hotline-phone underline">
                        090 000 9999
                    </span>
                        </span>
                </div>
                <div class="toolbar-social">
                    <img src="../assets/image/zalo.png" alt="">
                </div>
                <div class="toolbar-social">
                    <img src="../assets/image/skype.png" alt="">
                </div>
                <div class="toolbar-social">
                    <img src="../assets/image/facebook.png" width="44px" height="44px" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner center">
            <div class="footer-logo">
                <img src="../assets/image/logo_footer.png" alt="">
            </div>
            <div class="footer-info">
                <div class="company-name"><b>CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU NHẬT MINH</b></div>
                <div class="company-address" style="color: #6e6e6e">Phòng giao dịch:Số 02/68 - Trần Thái Tông - Cầu Giấy -
                    Hà Nội
                </div>
                <div class="company-contact row">
                    <div class="col-md-3 col-xs-12">
                        Phone: 043.782.3498; 043.212.3668
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Mobile: 0947.769.899
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Email: phihong5000@gmail.com
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Skype: phihong5000
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript" src="../assets/global/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/layouts/scripts/layout.js"></script>
</body>

</html>