.page-products-wrapper {
    margin-top: 60px;
    width: 70%;
    border-radius: 10px;
    background-color: #80c41c;
    position: relative;
}

.page-products-wrapper .categories-menu-wrapper {
    position: absolute;
    padding: 0;
    height: 100%;
    min-height: 766px;
}

.page-products-wrapper .categories-menu-wrapper .categories-menu {
    position: relative;
    z-index: 10;
    list-style: none;
    background-color: #439e31;
    border-top-right-radius: 10px;
    height: 100%;
    cursor: pointer;
}

.page-products-wrapper .categories-menu-wrapper .categories-menu .sub-menu {
    list-style: none;
    display: none;
}

.page-products-wrapper .categories-menu-wrapper .categories-menu li {
    vertical-align: middle;
    line-height: 40px;
    color: #ffffff;
    font-size: 11pt;
    font-weight: 500;
    text-align: left;
}

.page-products-wrapper .categories-menu-wrapper .categories-menu li:not(:last-child) {
    border-bottom: 1px solid #ffffff;
}

.page-products-wrapper .products-field-wrapper {
    padding: 0;
    float: right;
    min-height: 766px;
}

.page-products-wrapper .products-field-wrapper .title-type-products {
    padding-right: 0;
    height: 40px;
    width: 100%;
    color: #ffffff;
}

.page-products-wrapper .products-field-wrapper .title-type-products .title-badge {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    line-height: 40px;
}

.page-products-wrapper .products-field-wrapper .title-type-products .title-badge:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.page-products-wrapper .products-field {
    background-color: #ffffff;
    padding-right: 0;
    min-height: 726px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.page-products-wrapper .products-field .product-detail {
    padding: 30px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
}

@media (min-width: 0px) and (max-width: 990px) {
    .page-products-wrapper {
        width: 90%;
        background-color: #ffffff;
    }

    .page-products-wrapper .categories-menu-wrapper {
        position: relative !important;
    }

    .page-products-wrapper .title-type-products {
        background-color: #80c41c;
        height: 120px !important;
        padding: 0;
    }

    .page-products-wrapper .title-type-products .title-badge {
        border-bottom: 1px solid #ffffff;
    }

    .page-products-wrapper .product-detail {
        border-right: 0 !important;
    }
}

@media (min-width: 990px) and (max-width: 1368px) {
    .page-products-wrapper {
        width: 90%;
    }
}
