
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="promotions-field field-badge">
            <div class="item-wrapper center">
                <div class="badge-type-wrap">
                    <div class="field-badge-inline">
                        <div class="shadow-line"></div>
                        <div class="badge-type">
                            KHUYẾN MÃI
                        </div>
                    </div>
                </div>
                <div class="promotions-content">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h4>Khuyến mãi cực lớn nhân dịp khai trương</h4>
                            <br><br>
                            <img src="/assets/image/campaign1.png" alt="...">
                            <br><br>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid delectus illum quidem repudiandae. Accusantium amet commodi consectetur doloremque dolorum ipsa nihil omnis rem saepe, suscipit. Consectetur incidunt optio quaerat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid delectus illum quidem repudiandae. Accusantium amet commodi consectetur doloremque dolorum ipsa nihil omnis rem saepe, suscipit. Consectetur incidunt optio quaerat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid delectus illum quidem repudiandae. Accusantium amet commodi consectetur doloremque dolorum ipsa nihil omnis rem saepe, suscipit. Consectetur incidunt optio quaerat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid delectus illum quidem repudiandae. Accusantium amet commodi consectetur doloremque dolorum ipsa nihil omnis rem saepe, suscipit. Consectetur incidunt optio quaerat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid delectus illum quidem repudiandae. Accusantium amet commodi consectetur doloremque dolorum ipsa nihil omnis rem saepe, suscipit. Consectetur incidunt optio quaerat!

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="page-toolbar">-->
        <!--<div class="toolbar-hotline">-->
        <!--<span class="hotline-icon">-->
        <!--<img src="/assets/image/hotline.png" width="35px" height="35px" alt="">-->
        <!--</span>-->
        <!--<span class="hotline-contact">-->
        <!--<span class="hotline-text">-->
        <!--HOTLINE-->
        <!--</span>-->
        <!--<span class="hotline-phone underline">-->
        <!--090 000 9999-->
        <!--</span>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="/assets/image/zalo.png" alt="">-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="/assets/image/skype.png" alt="">-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="/assets/image/facebook.png" width="44px" height="44px" alt="">-->
        <!--</div>-->

        <!--</div>-->

    </div>
</div>
