<div class="page-container-wrapper">
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-logo">
                <img src="../assets/image/logo.png" alt="">
            </div>
            <div class="page-intro center">
                <ul class="list-intro">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/description">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promotions">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
            <div id="banner" class="page-banner carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#banner" data-slide-to="0" class="active"></li>
                    <li data-target="#banner" data-slide-to="1"></li>
                </ol>

                <!-- Content -->
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="item active">
                        <img class="img-responsive" src="/assets/image/banner1.png" style="width:100%; height: 487px"
                             alt="banner1">
                    </div>
                    <!-- Slide 2 -->
                    <div class="item">
                        <img class="img-responsive" src="/assets/image/banner2.png" style="width:100%; height: 487px"
                             alt="banner2">
                    </div>
                </div>
                <!-- Previous/Next controls -->
                <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#banner" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="descriptions-field field-badge">
                <div class="item-wrapper center">
                    <div class="badge-type-wrap">
                        <div class="field-badge-inline">
                            <div class="shadow-line "></div>
                            <div class="badge-type">
                                GIỚI THIỆU
                            </div>
                        </div>
                    </div>
                    <div class="mission-content list-desciprtion">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <img src="../assets/image/mission.png" class="img-responsive" alt="...">
                            </div>
                            <div class="col-xs-12 col-md-9 text-box">
                                <h3>SỨ MỆNH</h3>
                                <p>
                                    Sevilla sở hữu cho mình tính cách thông minh, tinh tế, tận tâm, sang trọng, thời thượng, dịch vụ hoàn hảo, sản phẩm đồng bộ, tiên phong về công nghệ và tin cậy số 1 trong ngành thiết bị bếp tại Việt Nam. Với vị thế của mình, Sevilla luôn nỗ lực mang đến giải pháp chăm sóc gia đình hoàn hảo cho người phụ nữ Việt, giúp họ tận hưởng cuộc sống hạnh phúc và tiện ích.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="philosophy-content list-desciprtion">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <img src="../assets/image/trietly.png" class="img-responsive" alt="...">
                            </div>
                            <div class="col-xs-12 col-md-9 text-box">
                                <h3>TRIẾT LÝ & ĐỊNH HƯỚNG</h3>
                                <p>
                                    Sevilla sở hữu cho mình tính cách thông minh, tinh tế, tận tâm, sang trọng, thời thượng, dịch vụ hoàn hảo, sản phẩm đồng bộ, tiên phong về công nghệ và tin cậy số 1 trong ngành thiết bị bếp tại Việt Nam. Với vị thế của mình, Sevilla luôn nỗ lực mang đến giải pháp chăm sóc gia đình hoàn hảo cho người phụ nữ Việt, giúp họ tận hưởng cuộc sống hạnh phúc và tiện ích.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="achievement-content list-desciprtion">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <img src="../assets/image/thanhtuu.png" class="img-responsive" alt="...">
                            </div>
                            <div class="col-xs-12 col-md-9 text-box">
                                <h3>THÀNH TỰU</h3>
                                <p>
                                    Sevilla sở hữu cho mình tính cách thông minh, tinh tế, tận tâm, sang trọng, thời thượng, dịch vụ hoàn hảo, sản phẩm đồng bộ, tiên phong về công nghệ và tin cậy số 1 trong ngành thiết bị bếp tại Việt Nam. Với vị thế của mình, Sevilla luôn nỗ lực mang đến giải pháp chăm sóc gia đình hoàn hảo cho người phụ nữ Việt, giúp họ tận hưởng cuộc sống hạnh phúc và tiện ích.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="certificate-field field-badge">
                <div class="item-wrapper center">
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            <img src="../assets/image/certificate.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <img src="../assets/image/certificate.png" alt="" class="img-responsive">

                        </div>
                        <div class="col-xs-3 col-md-3">
                            <img src="../assets/image/certificate.png" alt="" class="img-responsive">

                        </div>
                        <div class="col-xs-3 col-md-3">
                            <img src="../assets/image/certificate.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="page-toolbar">-->
            <!--<div class="toolbar-hotline">-->
            <!--<span class="hotline-icon">-->
            <!--<img src="../assets/image/hotline.png" width="35px" height="35px" alt="">-->
            <!--</span>-->
            <!--<span class="hotline-contact">-->
            <!--<span class="hotline-text">-->
            <!--HOTLINE-->
            <!--</span>-->
            <!--<span class="hotline-phone underline">-->
            <!--090 000 9999-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div class="toolbar-social">-->
            <!--<img src="../assets/image/zalo.png" alt="">-->
            <!--</div>-->
            <!--<div class="toolbar-social">-->
            <!--<img src="../assets/image/skype.png" alt="">-->
            <!--</div>-->
            <!--<div class="toolbar-social">-->
            <!--<img src="../assets/image/facebook.png" width="44px" height="44px" alt="">-->
            <!--</div>-->

            <!--</div>-->

        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner center">
            <div class="footer-logo">
                <img src="../assets/image/logo_footer.png" alt="">
            </div>
            <div class="footer-info">
                <div class="company-name"><b>CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU NHẬT MINH</b></div>
                <div class="company-address" style="color: #6e6e6e">Phòng giao dịch:Số 02/68 - Trần Thái Tông - Cầu Giấy -
                    Hà Nội
                </div>
                <div class="company-contact row">
                    <div class="col-md-3 col-xs-12">
                        Phone: 043.782.3498; 043.212.3668
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Mobile: 0947.769.899
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Email: phihong5000@gmail.com
                    </div>
                    <div class="col-md-3 col-xs-12">
                        Skype: phihong5000
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
