<div class="page-container">
    <div class="page-content-wrapper">
        <!--<div class="page-logo">-->
            <!--<img src="/assets/image/logo.png" alt="">-->
        <!--</div>-->
        <!--<div class="page-intro center">-->
            <!--<ul class="list-intro">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/description">GIỚI THIỆU</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/products">SẢN PHẨM</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/news">TIN TỨC</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/promotions">KHUYẾN MÃI</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/contacts">LIÊN HỆ</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div id="banner" class="page-banner carousel slide" data-ride="carousel">-->
            <!--&lt;!&ndash; Indicators &ndash;&gt;-->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#banner" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#banner" data-slide-to="1"></li>-->
            <!--</ol>-->

            <!--&lt;!&ndash; Content &ndash;&gt;-->
            <!--<div class="carousel-inner">-->
                <!--&lt;!&ndash; Slide 1 &ndash;&gt;-->
                <!--<div class="item active">-->
                    <!--<img class="img-responsive" src="/assets/image/banner1.png" style="width:100%; height: 487px"-->
                         <!--alt="banner1">-->
                <!--</div>-->
                <!--&lt;!&ndash; Slide 2 &ndash;&gt;-->
                <!--<div class="item">-->
                    <!--<img class="img-responsive" src="/assets/image/banner2.png" style="width:100%; height: 487px"-->
                         <!--alt="banner2">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Previous/Next controls &ndash;&gt;-->
            <!--<a class="left carousel-control" href="#banner" role="button" data-slide="prev">-->
                <!--<span class="icon-prev" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#banner" role="button" data-slide="next">-->
                <!--<span class="icon-next" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Next</span>-->
            <!--</a>-->
        <!--</div>-->
        <div class="new-product-field field-badge">
            <div class="item-wrapper center">
                <div class="badge-type-wrap">
                    <div class="field-badge-inline">
                        <div class="shadow-line"></div>
                        <div class="badge-type">
                            SẢN PHẨM MỚI
                        </div>
                        <div class="view-more underline" style="border-bottom: 1px solid #c6c6c6">
                            <b>VIEW MORE >></b>
                        </div>
                    </div>
                </div>
                <div class="new-product-content">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/product.png" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/product.png" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-4 ">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/product.png" alt="...">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="campaign-field field-badge">
            <div class="item-wrapper center">
                <div class="badge-type-wrap">
                    <div class="field-badge-inline">
                        <div class="shadow-line"></div>
                        <div class="badge-type">
                            KHUYẾN MÃI
                        </div>
                        <div class="view-more underline" style="border-bottom: 1px solid #c6c6c6">
                            <b>VIEW MORE >></b>
                        </div>
                    </div>
                </div>
                <div class="campaign-content">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/campaign1.png" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/campaign2.png" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-field field-badge">
            <div class="item-wrapper center">
                <div class="badge-type-wrap">
                    <div class="field-badge-inline">
                        <div class="shadow-line"></div>
                        <div class="badge-type">
                            VIDEO NỔI BẬT
                        </div>
                        <div class="view-more underline" style="border-bottom: 1px solid #c6c6c6">
                            <b>VIEW MORE >></b>
                        </div>
                    </div>
                </div>
                <div class="video-content">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/video1.png" alt="...">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="/assets/image/video2.png" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="news-field field-badge">-->
        <!--<div class="item-wrapper center">-->
        <!--<div class="badge-type-wrap">-->
        <!--<div class="field-badge-inline">-->
        <!--<div class="shadow-line"></div>-->
        <!--<div class="badge-type">-->
        <!--TIN TỨC-->
        <!--</div>-->
        <!--<div class="view-more underline" style="border-bottom: 1px solid #c6c6c6">-->
        <!--<b>VIEW MORE >></b>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="news-content">-->
        <!--<div class="row">-->
        <!--<div class="col-xs-3 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
        <!--<img src="/assets/image/thumb1.png" alt="...">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-3 col-md-3 left">-->
        <!--<h5 class="news-title"><b>DANH SÁCH ĐẠI LÝ ĐƯỢC BẢO HÀNH SEVILLA-DANDY</b></h5>-->
        <!--<p class="new-content">-->
        <!--Danh sách đại lý không xuất bán --->
        <!--Không phân phối thương hiệu-->
        <!--Dandy - Sevilla-->
        <!--Khách hàng lưu ý khi mua sản phẩm-->
        <!--</p>-->
        <!--<div class="view-more" style="color: #8cc97e; font-size: 10px">-->
        <!--<b>VIEW MORE >></b>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-3 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
        <!--<img src="/assets/image/thumb1.png" alt="...">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-3 col-md-3 left">-->
        <!--<h5 class="news-title"><b>DANH SÁCH ĐẠI LÝ ĐƯỢC BẢO HÀNH SEVILLA-DANDY</b></h5>-->
        <!--<p class="new-content">-->
        <!--Danh sách đại lý không xuất bán --->
        <!--Không phân phối thương hiệu-->
        <!--Dandy - Sevilla-->
        <!--Khách hàng lưu ý khi mua sản phẩm-->
        <!--</p>-->
        <!--<div class="view-more" style="color: #8cc97e; font-size: 10px">-->
        <!--<b>VIEW MORE >></b>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="page-toolbar">-->
        <!--<div class="toolbar-hotline">-->
        <!--<span class="hotline-icon">-->
        <!--<img src="/assets/image/hotline.png" width="35px" height="35px" alt="">-->
        <!--</span>-->
        <!--<span class="hotline-contact">-->
        <!--<span class="hotline-text">-->
        <!--HOTLINE-->
        <!--</span>-->
        <!--<span class="hotline-phone underline">-->
        <!--090 000 9999-->
        <!--</span>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="/assets/image/zalo.png" alt="">-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="/assets/image/skype.png" alt="">-->
        <!--</div>-->
        <!--<div class="toolbar-social">-->
        <!--<img src="/assets/image/facebook.png" width="44px" height="44px" alt="">-->
        <!--</div>-->

        <!--</div>-->

    </div>
</div>
