<div class="page-content-wrapper">
    <div class="toggable-tab center">
        <ul class="nav nav-tabs center" id="mytabs">
            <li class="news-tab tab-field active ">
                <a href="#news-tab" data-toggle="tab">TIN TỨC</a>
            </li>
            <li class="video-tab tab-field">
                <a href="#video-tab" data-toggle="tab">VIDEO NỔI BẬT</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="row tab-pane fade in active" role="tabpanel" id="news-tab">
                <div class="row item-field">
                    <div class="col-md-6">
                        <div class="row item-field">
                            <div class="col-md-6 image-field">
                                <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                            </div>
                            <div class="col-md-6 info-field">
                                <div class="agency-title">
                                    ĐẠI LÝ QUỐC ĐẠT
                                </div>
                                <div class="agency-content">
                                    <div class="agency-address">
                                        Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                    </div>
                                    <div class="agency-phone">
                                        0834.122.419
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row item-field">
                            <div class="col-md-6 image-field">
                                <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                            </div>
                            <div class="col-md-6 info-field">
                                <div class="agency-title">
                                    ĐẠI LÝ QUỐC ĐẠT
                                </div>
                                <div class="agency-content">
                                    <div class="agency-address">
                                        Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                    </div>
                                    <div class="agency-phone">
                                        0834.122.419
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row item-field">
                            <div class="col-md-6 image-field">
                                <img class="img-responsive" src="../assets/image/thumb1.png" alt="...">
                            </div>
                            <div class="col-md-6 info-field">
                                <div class="agency-title">
                                    ĐẠI LÝ QUỐC ĐẠT
                                </div>
                                <div class="agency-content">
                                    <div class="agency-address">
                                        Địa chỉ: 50 Lương Thế Vinh, Thanh Xuân, Hà Nội
                                    </div>
                                    <div class="agency-phone">
                                        0834.122.419
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row tab-pane fade" role="tabpanel" id="video-tab">
                <div class="row item-field">
                    <div class="col-md-6">
                        <div class="row item-field">
                            <div class="col-md-12 image-field">
                                <iframe width="320" height="240"
                                        src="https://www.youtube.com/embed/AU8Ziy1qVmo">
                                </iframe>
                                <div class="video-title">
                                    Sản phẩm bếp 3 từ:  - 317 IH
                                </div>
                            </div>
                        </div>
                        <div class="row item-field">
                            <div class="col-md-12 image-field">
                                <video width="320" height="240" controls>
                                    <source src="movie.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                                <div class="video-title">
                                    Sản phẩm bếp 3 từ:  - 317 IH
                                </div>
                            </div>
                        </div>
                        <div class="row item-field">
                            <div class="col-md-12 image-field">
                                <video width="320" height="240" controls>
                                    <source src="movie.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                                <div class="video-title">
                                    Sản phẩm bếp 3 từ:  - 317 IH
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
