.contact-tab {
  z-index: 3;
  width: 33%;
  text-align: center;
}

.guarantee-tab {
  z-index: 2;
  width: 66%;
  padding-left: 33%;
}

.agency-tab {
  z-index: 1;
  width: 100%;
  padding-left: 66%;
}

.tab-content {
  margin-top: 100px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;

}

.question-field {
  width: 800px;
  margin-top: 100px;
  .item-wrapper {
    width: 100%;
  }
  .question-title {
    font-size: 12pt;
  }
  .question-form {
    margin-top: 50px;
    display: block;
    text-align: center;
    form {
      display: inline-block;
      input::placeholder {
        color: black;
        font-size: 8pt;
        font-family: UTMBOLD;
      }
      textarea::placeholder {
        color: black;
        font-size: 8pt;
        font-family: UTMBOLD;
      }
      textarea {
        height: 200px !important;
      }
      .btn {
        width: 100px;
      }
      .form-control {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #44a032;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .toggable-tab {
    width: 80% !important;
  }
  .question-field {
    width: 80% !important;
  }

  a {
    font-family: UTMBOLD;
    color: #333333;
    font-size: 8pt !important;
  }
  .tab-field {
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1268px) {
  .toggable-tab {
    width: 80% !important;

    a {
      font-family: UTMBOLD;
      color: #333333;
      font-size: 8pt !important;
    }

    .tab-field {
      height: 50px;
    }
  }
  .question-field {
    width: 80% !important;
  }


}

