<div class="header">
    <div class="sides">
        <img src="/assets/image/logo.png" alt="">
        <a class="nav-link" href="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/description">GIỚI THIỆU</a>
        <a class="nav-link" href="/products">SẢN PHẨM</a>
        <a class="nav-link" href="/news">TIN TỨC</a>
        <a class="nav-link" href="/promotions">KHUYẾN MÃI</a>
        <a class="nav-link" href="/contacts">LIÊN HỆ</a>
    </div>
</div>

<div class="body_page">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left_menu">

                    <div class="panel-group" id="accordion" style="position: relative;
    z-index: 9999">
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class ="bepgas" data-toggle="collapse" data-parent="#accordion" href="#tab01">
                                        BẾP GAS
                                    </a>
                                </h4>
                            </div>
                            <div id="tab01" class="panel-collapse collapse in">
                                <ul>
                                    <li ng-class="{'active' : typeOfProduct == 'ga2lo'}"
                                        ng-click="changeProducts($event,'ga2lo',null)"><a href="javascript:void(0);">BẾP GAS ÂM 2 LÒ</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'ga3lo'}"
                                        ng-click="changeProducts($event,'ga3lo',null)"><a href="javascript:void(0);">BẾP GAS ÂM 3 LÒ</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'gahh'}"
                                        ng-click="changeProducts($event,'gahh',null)"><a href="javascript:void(0);">BẾP GAS - TỪ HỖN HỢP</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab02">
                                        Bếp điện từ
                                    </a>
                                </h4>
                            </div>
                            <div id="tab02" class="panel-collapse collapse">
                                <ul>
                                    <li ng-class="{'active' : typeOfProduct == 'beptu1'}"
                                        ng-click="changeProducts($event,'beptu1',null)"><a href="javascript:void(0);">BẾP ĐIỆN TỪ ĐƠN</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'beptu2'}"
                                        ng-click="changeProducts($event,'beptu2',null)"><a href="javascript:void(0);">BẾP ĐIỆN TỪ ĐÔI</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'beptu3'}"
                                        ng-click="changeProducts($event,'beptu3',null)"><a href="javascript:void(0);">BẾP ĐIỆN TỪ BA</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab03">
                                        MÁY HÚT KHỬ MÙI
                                    </a>
                                </h4>
                            </div>
                            <div id="tab03" class="panel-collapse collapse">
                                <ul>
                                    <li ng-class="{'active' : typeOfProduct == 'kmdoclap'}"
                                        ng-click="changeProducts($event,'kmdoclap',null)"><a href="javascript:void(0);">MÁY HÚT KHỬ MÙI ĐỘC
                                        LẬP</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'kmkinhvat'}"
                                        ng-click="changeProducts($event,'kmkinhvat',null)"><a href="javascript:void(0);">MÁY HÚT KHỬ MÙI KÍNH
                                        VÁT</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'kmchut'}"
                                        ng-click="changeProducts($event,'kmchut',null)"><a href="javascript:void(0);">MÁY HÚT KHỬ MÙI CHỮ T</a>
                                    </li>
                                    <li ng-class="{'active' : typeOfProduct == 'kmkinhcong'}"
                                        ng-click="changeProducts($event,'kmkinhcong',null)"><a href="javascript:void(0);">MÁY HÚT KHỬ MÙI KÍNH
                                        CONG</a></li>
                                    <li ng-class="{'active' : typeOfProduct == 'kmcodien'}"
                                        ng-click="changeProducts($event,'kmcodien',null)"><a href="javascript:void(0);">MÁY HÚT KHỬ MÙI CỔ
                                        ĐIỂN</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab202">
                                        LÒ NƯỚNG
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab022">
                                        MÁY SẤY BÁT
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab022">
                                        MÁY RỬA BÁT
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab022">
                                        LÒ VI SÓNG
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#tab022">
                                        VÒI, CHẬU RỬA BÁT
                                    </a>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="anh_nen" style="background-image: url(assets/image/bg_menu.png)"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab_list_sp">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a  ng-click="changeProducts($event, null,typeOfSale = 'new', 'tab')" href="#home" role="tab" data-toggle="tab">SẢN PHẨM MỚI</a></li>
                        <li><a href="#home" ng-click="changeProducts($event, null,typeOfSale='highlight', 'tab')" role="tab" data-toggle="tab">SẢN PHẨM NỔI BẬT</a></li>
                        <li><a href="#home" ng-click="changeProducts($event ,null,typeOfSale='bestofsale', 'tab')" role="tab" data-toggle="tab">SẢN PHẨM BÁN CHẠY</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div  class="list_sp">
                                <div class="row">
                                    <div dir-paginate="product in products | itemsPerPage: pageSize" current-page="currentPage" class="box_sp col-md-6">
                                        <a href="/product?id=\{{product.code}}">
                                        <img ng-src="../assets/image/\{{product.code}}.jpg" alt="">
                                        </a>
                                        <h4>\{{product.name}}</h4>
                                        <span class="price">\{{product.display}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="tab-pane" id="profile">-->
                        <!--<div class="list_sp">-->
                        <!--<div class="row">-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>2222Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tab-pane" id="messages">-->
                        <!--<div class="list_sp">-->
                        <!--<div class="row">-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>3333Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->
                        <!--<div class="box_sp col-md-6">-->
                        <!--<img src="images/img-sp.png" alt="">-->
                        <!--<h4>Bếp điện tử cao cấp SEVILLA</h4>-->
                        <!--<span class="price">5.000.000 VND</span>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position: relative !important; margin-top: 50px;" class="page-footer">
    <div class="page-footer-inner center">
        <div class="footer-logo">
            <img src="/assets/image/logo_footer.png" alt="">
        </div>
        <div class="footer-info">
            <div class="company-name"><b>CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI VÀ XUẤT NHẬP KHẨU NHẬT MINH</b></div>
            <div class="company-address" style="color: #6e6e6e">Phòng giao dịch:Số 02/68 - Trần Thái Tông - Cầu Giấy -
                Hà Nội
            </div>
            <div class="company-contact row">
                <div class="col-md-3 col-xs-12">
                    Phone: 043.782.3498; 043.212.3668
                </div>
                <div class="col-md-3 col-xs-12">
                    Mobile: 0947.769.899
                </div>
                <div class="col-md-3 col-xs-12">
                    Email: phihong5000@gmail.com
                </div>
                <div class="col-md-3 col-xs-12">
                    Skype: phihong5000
                </div>

            </div>
        </div>
    </div>
</div>

